@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
 background:url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png') repeat;
  font-family: "Open Sans",  Impact;
}
.area{
  text-align:center;
  font-size:6.5em;
  color:#9900ff;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0px 0px 5px #9900ff,
      0px 0px 7px #000000;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #9900ff,
      0px 0px 10px #9900ff, 
      0px 0px 25px #9900ff,
      0px 0px 25px #9900ff,
      0px 0px 25px #9900ff,
      0px 0px 25px #9900ff,
      0px 0px 25px #9900ff,
      0px 0px 25px #9900ff,
      0px 0px 50px #9900ff,
      0px 0px 50px #9900ff,
      0px 0px 50px #9900ff,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}